<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
	<listeners>
		<listener class-name="ProjectTesting.Testcomponents.Listener"/>
	</listeners>
	
	<test name="test">
		<classes>
			<class name="ProjectTesting.Seleniumframework.Standalonetest" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
